<template>
    <div id="container">
        <div>
            <section>
                <div>
                    <h1 class="header-admin" v-if="firstLoad">Выберите нужный месяц и день</h1>
                    <h1 class="header-admin" v-if="!firstLoad">Выбранный день: {{selectedMonthInRUS}} {{this.selectedDay}}</h1>
                </div>
            </section>
        </div>
        <div>
            <section>
                <button id='January' class="btn btn-primary" v-on:click="clickMonth(0)">Январь</button>
                <button id='February' class="btn btn-primary" v-on:click="clickMonth(1)">Февраль</button>
                <button id='March' class="btn btn-primary" v-on:click="clickMonth(2)">Март</button>
                <button id='April' class="btn btn-primary" v-on:click="clickMonth(3)">Апрель</button>
                <button id='May' class="btn btn-primary" v-on:click="clickMonth(4)">Май</button>
                <button id='June' class="btn btn-primary" v-on:click="clickMonth(5)">Июнь</button>
                <button id='July' class="btn btn-primary" v-on:click="clickMonth(6)">Июль</button>
                <button id='August' class="btn btn-primary" v-on:click="clickMonth(7)">Август</button>
                <button id='September' class="btn btn-primary" v-on:click="clickMonth(8)">Сентябрь</button>
                <button id='October' class="btn btn-primary" v-on:click="clickMonth(9)">Октябрь</button>
                <button id='November' class="btn btn-primary" v-on:click="clickMonth(10)">Ноябрь</button>
                <button id='December' class="btn btn-primary" v-on:click="clickMonth(11)">Декабрь</button>
            </section>
        </div>
        <div>
            <section>
                <button v-for="n in countDayOnMonth" :id="n" v-on:click="clickDay(n)" class="btn btn-primary" :key="n" style="margin: 1px">{{n}}</button>
            </section>
        </div>
            <section>
                <BeeGridTable
                    border
                    stripe
                    :columns="this.columns"
                    :data="this.data"
                    :pageSize="5"
                    :pageCount="5"
                    :showPager="true"
                >
                <template slot-scope="{ row, index }" slot="expandTextCelebration">
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th class="col-1-text col-text-header">Полное описание</th>
                                    <th class="col-2-describe-main col-text-header">Краткое описание</th>
                                    <th class="col-3-full-image col-text-header">Полная картинка</th>
                                    <th class="col-4-main-image col-text-header">Верхняя картинка</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="row-1-text" v-html="row.text"></td>
                                    <td class="row-2-describe-main" v-html="row.describe_main"></td>
                                    <td class="row-3-full-image">
                                        <img :src="row['url'] | getImageIcon" style="height: 664x; width: 664px;"/>
                                    </td>
                                    <td class="row-4-main-image">
                                        <img :src="row['img_preview'] | getImageIcon" style="height: 172x; width: 172px;"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </template>
                <template slot="hop">
                    <Button class="btn btn-success" size="large" @click="showModalForAdd()">Добавить</Button>
                </template>
                <template slot-scope="{ row, index }" slot="op">
                    <Button
                        v-if="row.guid!=0"
                        type="warning"
                        size="large"
                        style="margin-right: 5px"
                        @click="showModalForEdit(index)"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        data-whatever="@getbootstrap"
                        >
                        Редактировать
                    </Button>
                </template>
                <template slot-scope="{ row }" slot="img_icon">
                    <img :src="row['img_icon'] | getImageIcon" style="height: 64x; width: 64px;"/>
                </template>
                </BeeGridTable>
            </section>
        <div>
            <form>
                <p>Название праздника</p>
                <p><input type="submit" value="Отправить"></p>
            </form>
        </div>
        <modalCelebration
                v-bind:isEditableModal="isEditableModal"
                v-show="isModalVisible"
                @close="closeModal"
            />
    </div>
</template>

<script>
/* eslint-disable */
    import Vue from 'vue';
    //import BootstrapVue from 'bootstrap-vue';
    import "bootstrap/dist/css/bootstrap.min.css";
    import "bootstrap-vue/dist/bootstrap-vue.css";
    import cDateUtil from "../util/dateUtil.js"
    import { fetchCelebrationByDayOfMonth } from '../util/api.js';
    import cCommand from "../util/componentComand.js"
    import modalCelebration from './ModalEditCelebration';

    //Табличка для админки
    import BeeGridTable from "beegridtable";
    import BeeLocale from "beegridtable/src/locale";
    import "beegridtable/dist/styles/beegridtable.css";

    Vue.use(BeeGridTable, {
        locale: BeeLocale,
        capture: true,
    });



    var cDate = new Date()

    function getCountDateInMonth (year, month) {        
            return 32 - new Date(year, month, 32).getDate();         
        }

    var currentDate = {
        currentYear: cDate.getFullYear(),
        currentMonth: cDate.getMonth(),
        currentDay: cDate.getDate(),
        countDayInMonth: getCountDateInMonth(cDate.getFullYear(), cDate.getMonth())
    }    

    export default {
        name: 'AdminCelebrations',
        props: [                            
        ],
        components: {
            modalCelebration,
        },
        created: function () {
        },
        computed: {  
            selectedMonthInRUS: function () {      
                return cDateUtil.getMonthNameRUSById(this.selectedMonth)
            },
        },
        watch: {    //Используем для дорогих и асинхронных операций                          
        },
        mounted() {            
        },
        filters: {
            getImageIcon: function (name) {    
                console.log(name)    
                if(typeof name === 'undefined' || name === null) {
                    return;                    
                }                    
                else {                               
                    return require(`../static/cartoon/celebrations/${name}`);
                }
            }
        },
        methods: {
            clickMonth(month) {                
                this.selectedMonth = month                
                if (month == 1) { //по февралю выводим все дни без учета високосного года
                    this.countDayOnMonth = 29
                } else {
                    this.countDayOnMonth = getCountDateInMonth(currentDate.currentYear, month)
                }   
            },
            clickDay(day) {
                this.firstLoad = false
                this.selectedDay = day
                
                this.dataForTable = fetchCelebrationByDayOfMonth(this.selectedMonth + 1, this.selectedDay)
                .then(responses => (this.data = responses.data))
            },
            showModalForEdit(index) {
                this.rowModel = this.data[index];
                this.isModalVisible = true;
                this.isEditableModal = true;                
                cCommand.
            },
            showModalForAdd() {
                this.isModalVisible = true;
                this.isEditableModal = false;
            },
            closeModal() {
                this.isModalVisible = false;
                this.isEditableModal = false;
            },
            saveModal() {
                this.isModalVisible = false;
                this.isEditableModal = false;
            }
        },
        //Загружаем данные в компонетнт
        data() {            
            return {
                selectedMonth: currentDate.currentMonth,                    
                selectedDay: currentDate.currentDay,  
                countDayOnMonth: currentDate.countDayInMonth,  
                firstLoad: true,
                columns: [
                    {
                        type: "expand",
                        hideFilter: true,
                        slot: "expandTextCelebration",
                        width: 150,
                    },
                    {
                        title: "Operation",
                        slot: "op",
                        headSlot: "hop",
                        canEdit: false,
                        key: "op",
                        hideFilter: true,
                        resizable: true,
                        width: 500,
                        },
                    {
                        title: "guid",
                        key: "guid",
                        align: "center",
                        sortable: true,
                        width: 100,
                        sortable: true,
                        resizable: true,
                    },
                    {
                        title: "name",
                        key: "name",
                        align: "left",
                        width: 150,
                        sortable: true,
                        resizable: true,
                    },
                    {
                        title: "Самое краткое описание",
                        key: "describe_header",
                        align: "left",
                        width: 800,
                        sortable: true,
                        resizable: true,
                        
                    },
                    {
                        title: "img_icon",
                        key: "img_icon",
                        align: "center",
                        sortable: true,
                        resizable: true,
                        key: "guid",
                        slot: "img_icon",
                        width: 100,
                    },
                    {
                        title: "sort",
                        key: "sort",
                        align: "center",
                        width: 150,
                        sortable: true,
                        resizable: true,
                    },
                    {
                        title: "active",
                        key: "active",
                        align: "center",
                        width: 90,
                        sortable: true,
                        resizable: true,
                    },
                ],
                data: [],
                isModalVisible: false,
                isEditableModal: false,
                rowModel: []
            }
        },
        
    }
</script>

<style>
    table {
        border: 1px;
    }

    th.col-1-text, td.row-1-text {        
        max-width: 660px;
    }

    th.col-2-describe-main, td.row-2-describe-main {        
        max-width: 220px;
    }

    th.col-text-header {
        text-align: center;
    }

    th.col-3-full-image, td.row-3-full-image {
        max-width: 700px;
    }
    
    th.col-4-main-image, td.row-4-main-image {
        max-width: 200px;
    }

    .header-admin {
        color: red;
    }
</style>
