<template>
  <div class="container">
    <div class="row" style="width: 310px; margin: 1px">
      <multiselect style="width: 200px"
        v-model="currMonthForMulti"
        :options="monthList"
        :value=currMonthForMulti
        :select-label="'Выберите'"
        :show-labels="false"
        placeholder="Месяц"
        @input="updateMonth"
      >
      </multiselect>
      <multiselect style="width: 110px"
        v-model="currYearForMulti"
        :options="yearList"
        :value=currYearForMulti
        :select-label="'Выберите'"
        :show-labels="false"
        placeholder="Год"
        @input="updateYear"
      > </multiselect>
    </div>
  <div class="row" style="width: 310px; margin: 1px">
  <button id="leftYear" class='btn btn-outline-warning' style="width: 38px; margin: inherit"
            v-on:click="displayLeftYear()">&lt;&lt;
</button>
      <button id="leftMonth" class='btn btn-outline-warning' style="width: 38px; margin: inherit; "
              v-on:click="displayLeftMonth()">&lt;
      </button>
      <img src="../static/cartoon/calendar_up.jpg" style="height: fit-content;"/>
      <button id="rightMonth" class='btn btn-outline-warning' style="width: 38px; margin: inherit "
              v-on:click="displayRigthMonth()">&gt;
      </button>
      <button id="rightYear" class='btn btn-outline-warning' style="width: 38px; margin: inherit "
              v-on:click="displayRightYear()">&gt;&gt;
      </button>
    </div>
    <div class="row">
      <table class="table-condensed" style="width: 310px; height: 300px">
        <thead style="background: #fc0">
        <tr>
          <th style="text-align:center;">пн</th>
          <th style="text-align:center;">вт</th>
          <th style="text-align:center;">ср</th>
          <th style="text-align:center;">чт</th>
          <th style="text-align:center;">пт</th>
          <th style="text-align:center;">сб</th>
          <th style="text-align:center;">вс</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="n in 6" :key="n" style="padding: 5px">
          <td v-bind:style="{color:calenDays.colorArray[n* 7-7]}" align="center">
            <button v-if="calenDays.colorArray[n* 7-7]=='#000000'" id="dayColumn1" class='btn'
                    style="width: 38px; margin: inherit"
                    v-on:click="clickDay(calenDays.dateArray[n* 7-7])">
              {{calenDays.dateArray[n* 7-7]}}
            </button>
            <div v-else>{{calenDays.dateArray[n* 7-7]}}</div>
          </td>
          <td v-bind:style="{color:calenDays.colorArray[n* 7-6]}" align="center">
            <button v-if="calenDays.colorArray[n* 7-6]=='#000000'" id="dayColumn2" class='btn'
                    style="width: 38px; margin: inherit"
                    v-on:click="clickDay(calenDays.dateArray[n* 7-6])">
              {{calenDays.dateArray[n* 7-6]}}
            </button>
            <div v-else>{{calenDays.dateArray[n* 7-6]}}</div>
          </td>
          <td v-bind:style="{color:calenDays.colorArray[n* 7-5]}" align="center">
            <button v-if="calenDays.colorArray[n* 7-5]=='#000000'" id="dayColumn3" class='btn'
                    style="width: 38px; margin: inherit"
                    v-on:click="clickDay(calenDays.dateArray[n* 7-5])">
              {{calenDays.dateArray[n* 7-5]}}
            </button>
            <div v-else>{{calenDays.dateArray[n* 7-5]}}</div>
          </td>
          <td v-bind:style="{color:calenDays.colorArray[n* 7-4]}" align="center">
            <button v-if="calenDays.colorArray[n* 7-4]=='#000000'" id="dayColumn4" class='btn'
                    style="width: 38px; margin: inherit"
                    v-on:click="clickDay(calenDays.dateArray[n* 7-4])">
              {{calenDays.dateArray[n* 7-4]}}
            </button>
            <div v-else>{{calenDays.dateArray[n* 7-4]}}</div>
          </td>
          <td v-bind:style="{color:calenDays.colorArray[n* 7-3]}" align="center">
            <button v-if="calenDays.colorArray[n* 7-3]=='#000000'" id="dayColumn5" class='btn'
                    style="width: 38px; margin: inherit"
                    v-on:click="clickDay(calenDays.dateArray[n* 7-3])">
              {{calenDays.dateArray[n* 7-3]}}
            </button>
            <div v-else>{{calenDays.dateArray[n* 7-3]}}</div>
          </td>
          <td v-bind:style="{color:calenDays.colorArray[n* 7-2]}" align="center">
            <button v-if="calenDays.colorArray[n* 7-2]=='#000000'" id="dayColumn6" class='btn'
                    style="width: 38px; margin: inherit"
                    v-on:click="clickDay(calenDays.dateArray[n* 7-2])">
              <p style="margin: 0px; color: #b92c28">{{calenDays.dateArray[n* 7-2]}}</p>
            </button>
            <div v-else>{{calenDays.dateArray[n* 7-2]}}</div>
          </td>
          <td v-bind:style="{color:calenDays.colorArray[n* 7-1]}" align="center">
            <button v-if="calenDays.colorArray[n* 7-1]=='#000000'" id="dayColumn7" class='btn'
                    style="width: 38px; margin: inherit;"
                    v-on:click="clickDay(calenDays.dateArray[n* 7-1])">
              <p style="margin: 0px; color: #b92c28">{{calenDays.dateArray[n* 7-1]}}</p>
            </button>
            <div v-else>{{calenDays.dateArray[n* 7-1]}}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script type="text/javascript">
/* eslint-disable */
  import Multiselect from 'vue-multiselect';

  export default {
    props: [
      'calenDays',
      'currYear',
      'currMonth',
    ],
    watch: {
      currYear(a) {
        this.currYearForMulti = a;
      },
      currMonth(a) {
        this.currMonthForMulti = a;
      },
    },
    methods: {
      displayRigthMonth() {
        this.$emit('riseRightMonth', {currMonth: this.calenDays.currMonth, currYear: this.calenDays.currYear});
      },
      displayRightYear() {
        this.$emit('riseRightYear', {currMonth: this.calenDays.currMonth, currYear: this.calenDays.currYear});

      },
      displayLeftMonth() {
        this.$emit('riseLeftMonth', {currMonth: this.calenDays.currMonth, currYear: this.calenDays.currYear});
      },
      displayLeftYear() {
        this.$emit('riseLeftYear', {currMonth: this.calenDays.currMonth, currYear: this.calenDays.currYear});

      },
      updateMonth() {
        this.$emit('riseChangeMonth', {currMonth: this.currMonthForMulti, currYear: this.currYearForMulti});
      },
      updateYear() {
        this.$emit('riseChangeYear', {currMonth: this.currMonthForMulti, currYear: this.currYearForMulti});

      },
      clickDay(numDay) {
        this.$emit('riseDay', {numDay: numDay});
        this.currDay = numDay;

        //Делаем текущий день не выбранным
        for (var i = 0; i < 42; i++) {
          if (this.calenDays.colorArray[i] == '#008000' ) {
            this.calenDays.colorArray[i] = '#000000';
          }
        }
        //Устанавливаем выбранный день текущим
        let positionCurrDay = 0;
        let flagMonthBegin = false;
        for (var i = 0; i < 42; i++) {
          if (this.calenDays.dateArray[i] == 1 )
          {
            flagMonthBegin = true;
          }
          if (flagMonthBegin && this.calenDays.dateArray[i] == this.currDay) {
            positionCurrDay = i;
            break;
          }
        }
        this.calenDays.colorArray[positionCurrDay]='#008000';
      },
    },
    components: {Multiselect,},
    data() {
      return {
        currYearForMulti: this.calenDays.currYear,
        currMonthForMulti: this.calenDays.currMonth,
        monthList: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        yearList: [
          '1900', '1901', '1902', '1903', '1904', '1905', '1906', '1907', '1908', '1909',
          '1910', '1911', '1912', '1913', '1914', '1915', '1916', '1917', '1918', '1919',
          '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929',
          '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939',
          '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949',
          '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959',
          '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
          '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
          '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
          '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
          '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
          '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
          '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029',
          '2030', '2031', '2032', '2033', '2034', '2035', '2036', '2037', '2038', '2039',
          '2040', '2041', '2042', '2043', '2044', '2045', '2046', '2047', '2048', '2049',
          '2050', '2051', '2052', '2053', '2054', '2055', '2056', '2057', '2058', '2059',
          '2060', '2061', '2062', '2063', '2064', '2065', '2066', '2067', '2068', '2069',
          '2070', '2071', '2072', '2073', '2074', '2075', '2076', '2077', '2078', '2079',
          '2080', '2081', '2082', '2083', '2084', '2085', '2086', '2087', '2088', '2089',
          '2090', '2091', '2092', '2093', '2094', '2095', '2096', '2097', '2098', '2099',
        ],
      }
    }
  };
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
