<template>
  <div class="form_auth_block">
  <div class="form_auth_block_content">
    <p class="form_auth_block_head_text">Авторизация</p>
    <form class="form_auth_style" action="#" method="post">
      <label>Введите Ваш имейл</label>
      <input type="email" name="auth_email" placeholder="Введите Ваш имейл" required >
      <label>Введите Ваш пароль</label>
      <input type="password" name="auth_pass" placeholder="Введите пароль" required >
      <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
    </form>
  </div>
</div>

</template>
<script>
/* eslint-disable */
    import axios from 'axios';
    import VueAxios from 'vue-axios';
    import Vue from 'vue';
    //import BootstrapVue from 'bootstrap-vue';
    import "bootstrap/dist/css/bootstrap.min.css";
    import "bootstrap-vue/dist/bootstrap-vue.css";

    Vue.use(VueAxios, axios);

    Vue.axios.defaults.withCredentials = true;
    Vue.axios.defaults.header = {'Content-type': 'application/json'};



    export default {
        name: 'Login',
        components: {

        },
        created: function () {


        },

        computed: {


        },
        methods: {


        },
        //Загружаем данные в компонетнт
        data() {
            return {

            };
        },

    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .celebration {

    }

    .celebration_text {
        width: 340px;
        white-space: normal;
        word-wrap: break-word;
    }

    .title_celebration {
        font-weight: bold;
    }

</style>
