<template>
    <div id="container">
        <h1 class="display-5">Админка</h1>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger">Статистика</button>
            <button type="button" class="btn btn-warning" v-on:click="displayCelebrations()">
                Редактирование праздников
            </button>
        </div>
        <br>
        <hr>
        <br>
        <AdminCelebrations v-if="this.currentComponent=='celebrations'">
        </AdminCelebrations>
    </div>
</template>
<script>
/* eslint-disable */
    import Vue from 'vue';
    import "bootstrap/dist/css/bootstrap.min.css";
    import "bootstrap-vue/dist/bootstrap-vue.css";
    import AdminCelebrations from "./AdminCelebrations"

export default {
        name: 'Root',
        props: [                            
        ],
        components: {
            AdminCelebrations,
        },
        created: function () {
            this.displayStatistics()
        },
        methods: {
            displayStatistics:  function(){
                this.currentComponent = "statistic";
            },
            displayCelebrations: function(){
                this.currentComponent = 'celebrations'
            },
        },
        data() {  
            return {
                currentComponent: "statistic",
            }   
        }
    }
</script>

<style>
    hr {
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    }
</style>