<template>
    <!-- Календарь -->
    <div id="app" class="container" style="margin-top: 0px">
        <div class="row justify-content-md-left" style="height: min-content; margin-top: 30px">
            <img src="/static/cartoon/m.png" style="height: fit-content; margin-left: 15%"/>
            <h5 style="padding-top: 20px; margin-bottom: 0px; color: #101F61">атематика — самая надежная форма
                пророчества.</h5>
        </div>
        <div class="row justify-content-md-left">
            <i style="font-size: smaller; margin-bottom: 40px; margin-left: 20%; color: #101F61">© Вильгельм Швебель</i>
        </div>
        <div class="row">
            <div class="col-sm-4" style="background-color:#DEFBEC">
                <div class="row justify-content-center">
                    <span class="title_celebration"> <p>{{chinaYear.title}}</p></span>
                    <img :src="chinaYear.img" style="height: 150px; width: 150px;"/>
                    <p>{{chinaYear.description}}</p>
                </div>
            </div>
            <div class="col-sm-4" style="min-width: 340px;">
                <Calendar v-bind:calenDays="calenDays"
                          v-bind:currMonth="currMonth"
                          v-bind:currYear="currYear"
                          v-bind:currDay="currDay"
                          v-on:riseRightMonth=displayRigthMonth
                          v-on:riseLeftMonth=displayLeftMonth
                          v-on:riseLeftYear=displayLeftYear
                          v-on:riseRightYear=displayRightYear
                          v-on:riseChangeMonth=displayChangeMonth
                          v-on:riseChangeYear=displayChangeYear
                          v-on:riseDay=displayDay
                ></Calendar>
            </div>
            <div v-if="typeof celebrations != 'undefined'" class="col-sm-4">
                <carousel :perPage="1">
                    <slide class="celebration" v-for="(slide, i) in celebrations.length">
                        <div class="row justify-content-center">
                            <img :src="celebrations[i]['url']" style="height: 100px; width: 100px;"/>
                        </div>
                        <span class="title_celebration"> <p>{{celebrations[i]['name']}}</p></span>
                        <p class="celebration_text">{{celebrations[i]['text']}}</p>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>


</template>
<script>
    import axios from 'axios';
    import VueAxios from 'vue-axios';
    import Vue from 'vue';
    import BootstrapVue from 'bootstrap-vue';
    import "bootstrap/dist/css/bootstrap.min.css";
    import "bootstrap-vue/dist/bootstrap-vue.css";
    import Calendar from './components/Calendar';
    import VueCarousel from 'vue-carousel';

    Vue.use(VueAxios, axios);
    Vue.use(BootstrapVue);
    Vue.use(VueCarousel);

    Vue.axios.defaults.withCredentials = true;
    Vue.axios.defaults.header = {'Content-type': 'application/json'};



    export default {
        name: 'App',
        components: {
            //ссылка на компонент каледнарь
            Calendar,
        },
        created: function () {
            this.displayMonth();
        },

        computed: {


        },
        methods: {
            displayMonth: function (currMonth, currYear, dirrection) {
                if (this.calenDays.currYear == undefined) {
                    //Запрашиваем параметры калегдаря текущего месяца
                    axios.get('http://calendar.loc').then(response => {
                        //console.log(response.data);
                        this.calenDays.dateArray = response.data['dateArray'];
                        this.calenDays.colorArray = response.data['colorArray'];
                        this.calenDays.currYear = response.data['currYear'];
                        this.calenDays.currMonth = response.data['currMonth'];
                        this.calenDays.currDay = response.data['currDay'];
                        this.currYear = this.calenDays.currYear;
                        this.currMonth = this.calenDays.currMonth;
                        this.currDay = this.calenDays.currDay;
                        this.currMonthDigit = response.data['currMonthDigit'];
                        //console.log('Запрос праздника текущей даты' + this.currYear + this.currMonthDigit + this.currDay);

                        //Получаем праздники текущего дня месяца
                        axios.get('http://calendar.loc/day/' + this.currYear + this.currMonthDigit + this.currDay).then(response => {
                            this.celebrations = response.data;
                        }).catch(error => {
                            console.log(error);
                        });
                        //Получаем текущий год по восточному календарю
                        axios.get('http://calendar.loc/chine-year/' + this.currYear).then(response => {
                            this.chinaYear = response.data;
                        }).catch(error => {
                            console.log(error);
                        });

                    }).catch(error => {
                        console.log(error);
                    })
                } else {
                    axios.get('http://calendar.loc', {
                        params: {
                            m: currMonth,
                            y: currYear,
                            dirrection: dirrection,
                        }
                    }).then(response => {
                        this.calenDays.dateArray = response.data['dateArray'];
                        this.calenDays.colorArray = response.data['colorArray'];
                        this.calenDays.currYear = response.data['currYear'];
                        this.calenDays.currMonth = response.data['currMonth'];
                        this.currYear = this.calenDays.currYear;
                        this.currMonth = this.calenDays.currMonth;
                        this.currMonthDigit = response.data['currMonthDigit'];
                        //console.log('Запрос праздника текущей даты' + this.currYear + this.currMonthDigit + this.currDay);

                        //Получаем праздники текущего дня месяца
                        axios.get('http://calendar.loc/day/' + this.currYear + this.currMonthDigit + this.currDay).then(response => {
                            this.celebrations = response.data;
                        }).catch(error => {
                            console.log(error);
                        });
                        //Получаем текущий год по восточному календарю
                        axios.get('http://calendar.loc/chine-year/' + this.currYear).then(response => {
                            this.chinaYear = response.data;
                        }).catch(error => {
                            console.log(error);
                        });
                    }).catch(error => {
                        console.log(error);
                    })
                }
            }, 
            displayLeftMonth: function ({currMonth, currYear}) {
                this.displayMonth(currMonth, currYear, 'leftMonth');
            },
            displayRigthMonth: function ({currMonth, currYear}) {
                this.displayMonth(currMonth, currYear, 'rightMonth');
            },
            displayLeftYear: function ({currMonth, currYear}) {
                this.displayMonth(currMonth, currYear, 'leftYear');
            },
            displayRightYear: function ({currMonth, currYear}) {
                this.displayMonth(currMonth, currYear, 'rightYear');
            },
            displayChangeYear: function ({currMonth, currYear}) {
                this.displayMonth(currMonth, currYear, 'straight');
            },
            displayChangeMonth: function ({currMonth, currYear}) {
                this.displayMonth(currMonth, currYear, 'straight');
            },
            displayDay: function ({numDay}) {
                //Получаем праздники текущего дня месяца
                var NumDayWithLeadZero;
                if (numDay < 10) {
                    NumDayWithLeadZero = '0' + numDay;
                } else {
                    NumDayWithLeadZero = numDay;
                }

                //Загружаем праздники по кнопке
                axios.get('http://calendar.loc/day/' + this.currYear + this.currMonthDigit + NumDayWithLeadZero).then(response => {
                    this.celebrations = response.data;
                    /*
                    Установка свойств компонента
                     this.$refs.carouselCelebration.goSlide(0);
                     this.$refs.carouselCelebration.total = this.celebrations.length;*/
                }).catch(error => {
                    console.log(error);
                })
            },
        },
        //Загружаем данные в компонетнт
        data() {
            return {
                currentRoute: window.location.pathname,
                calenDays: {
                    dateArray: {},
                    colorArray: {},
                    currYear: undefined,
                    currMonth: undefined,
                    currDay: undefined,
                },
                currDay: undefined,
                currYear: undefined,
                currMonth: undefined,
                celebrations: undefined,
                chinaYear: {
                    title: '',
                    img: ''
                }
            };
        },

    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .celebration {

    }

    .celebration_text {
        width: 340px;
        white-space: normal;
        word-wrap: break-word;
    }

    .title_celebration {
        font-weight: bold;
    }

</style>
